
<h1>About</h1>

<h4><p>How should I manage all my Social Media?</p></h4>


<p>Have you ever considered from a business perspective the myriad of social media sites which exist? With each fleeting year, additional platforms are invented to assist us in fulfilling our natural desire to connect and share with other people.
</p>

<p>While this bestows many unprecedented advantages, it also comes with a fair share of challenges.  For instance, how can companies adequately make use of the variety of social tools placed at their disposal?  Recent studies have shown an average midsized business is required to dedicate 30+ hours a month to effectively manage merely one social platform.  Multiply that with each additional platform and the hours quickly add up.
</p>

<p>So is the answer simply to bring on more employees to manage in-house operations, or is it to allow others to manage the whole process? Akin to many aspects in life, investing in a combination of the two solutions seems to provide the most effective results. 
</p>

<p>The first step in deciding whether or not to invest in Social Media is plan what you want to accomplish.  Companies obviously desire to increase revenue and expand market share; they hear about Social Media and believe it will provide the resolution to all their problems.  However, there are many alternative techniques they could invest in such as BI, Market Analysis, or even upgraded equipment.
</p>

<p>Another significant aspect is to choose your focus area.  While it is important to have a presence on a variety of social media sites, it is completely unnecessary to devote 30 hours a month to each of your 10+ platforms.   Concentrate 80% of resources on your three main platforms, and 20% on any remaining.  In addition, look for current employees that exhibit particular expertise that relate to your Social Media objectives.  Do you have someone who cannot seem to get off Facebook? Perhaps you could leverage this to your advantage.  
</p>

<p>One reason you should allow at least some of your Social Media to be managed by another firm is creativity. Oftentimes business will run out of new ideas for content, resulting in posts that eventual bore and even annoy possible clients.  Finally, businesses simply do not have the time to dedicate to constant monitoring of all their platforms.  If an unhappy customer leaves a negative reply on a site for even a day and nothing is done about it, the damaging reputational effects can take weeks to repair.  
</p>

<p>In conclusion, it may be wise to have at least some of your Social Media managed. 
</p>




</p>
