
<h1></h1>



<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  
  <!-- Carousel items -->
  <div class="carousel-inner">
    
    <div class="active item">
        <center><%= image_tag("cat.jpeg", alt: "Cat", :size=> "450x300") %></center>
            <div class="carousel-caption">
                <h4>#Want to make a difference in your community?</h4>
                <p>Let Austin Manage your Pinterest</p>
        </div>
   </div>


    <div class="item">
               <center><%= image_tag("pinky.jpeg", alt: "Old Sport", :size=> "250x300") %> </center>
                 <div class="carousel-caption">
                    <h4>Hey there old sport</h4>
                        <p>let me take care of your media at the Oxford Club</p>
                </div>
    </div>

     <div class="item">
          <center><%= image_tag("beard.jpeg", alt: "Old Sport", :size=> "400x400") %></center>
          <div class="carousel-caption">
            <h4></h4>
              <p></p>
          </div>
    </div>

    <div class="item">
        
        <img src="http://placehold.it/1250x550">
    </div>
  </div>



  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<span style="color:green;">
 <center><p>
<i class="icon-tumblr icon-4x"></i>
<i class="icon-foursquare icon-4x"></i>
<i class="icon-instagram icon-4x"></i>
<i class="icon-youtube icon-4x"></i>
<i class="icon-facebook icon-4x"></i>
<i class="icon-google-plus icon-4x"></i>
<i class="icon-pinterest icon-4x"></i>
</p></center>
</span>