
<h1>Movai Social Media Management</h1>



<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Carousel items -->
  <div class="carousel-inner">
    
    <div class="active item">
    	<img src="http://placehold.it/1450x650">
    		<div class="carousel-caption">
    			<h4>#Want to make a difference in your community?</h4>
    			<p>Let Austin Manage your Pinterest</p>
    	</div>
   </div>


    <div class="item">
    		<img src="http://placehold.it/1450x650">
    			<div class="carousel-caption">
    				<h4>#We are changing the World</h4>
    					<p>One Outsourced Tweet at a Time</p>
    			</div>
    </div>

    <div class="item">
    	<img src="http://placehold.it/1450x650">
    </div>
  </div>



  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>