<h1>Meet The Team</h1>
	<ul class="thumbnails">
	  <li class="span4">
	    <div class="thumbnail">
	      <img data-src="holder.js/300x200" alt="">
	      <h3>A picture of Austin, who is the best</h3>
	      <p>Austin- The Best</p>
	    </div>
	  
	  
	  <li class="span4">
	    <div class="thumbnail">
	      <img data-src="holder.js/300x200" alt="">
	      <h3>A picture of Matthew</h3>
	      <p>Matthew- The Vegan</p>
	    </div>
	  </li>
	  
	  <li class="span4">
	    <div class="thumbnail">
	      <img data-src="holder.js/300x200" alt="">
	      <h3>A picture of Ian</h3>
	      <p>Ian- The Body Builder</p>
	    </div>
	  </li>
	  
	  <li class="span4">
	    <div class="thumbnail">
	      <img data-src="holder.js/300x200" alt="">
	      <h3>A picture of Andy</h3>
	      <p>Andy- The Ranger</p>
	    </div>
	  </li>
	  
	  <li class="span4">
	    <div class="thumbnail">
	      <img data-src="holder.js/300x200" alt="">
	      <h3>A picture of Tyler</h3>
	      <p>Tyler- The Bearded Man</p>
	    </div>
	  </li>
	
	  <li class="span4">
	    <div class="thumbnail">
	      <img data-src="holder.js/300x200" alt="">
	      <h3>A picture of Khanh</h3>
	      <p>Khanh- The Asian</p>
	    </div>
	  </li>
	</ul>